{% extends "layout.twig" %}

{% block body %}
    <h1>Este es un proyecto llamado symblog desarrollado con Sympfony, hecho por Jesús Ferrer López. En esta aplicación puedes visualizar blogs o incluso crearlos, además de añadir información, ver y crear comentarios y registrarte o logearte.</h1>
{% endblock %}

{% block sidebar %}
    {% include "sidebar.twig" %}
{% endblock %}